* { margin: 0; padding: 0 }
/* I've used a hard CSS reset above, but you should consider a more sophisticated reset, such as this one: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */

p { text-align: left; margin: 15px 0 }

p, ul { font-size: 13px; line-height: 1.4em } 

p a, li a { color: #39c; text-decoration: none }

p.intro { border-bottom: 1px solid #ccc; margin-bottom: 20px; padding: 20px 0 30px 0; text-align: center; width: 100% }

img {
	border: 0
}

.stripViewer .panelContainer .panel ul {
	text-align: left;
	margin: 0 15px 0 30px;
}

/* These 2 lines specify style applied while slider is loading */
.csw {width: 100%; height: 460px; background: #fff; overflow: scroll}
.csw .loading {margin: 200px 0 300px 0; text-align: center}

.stripViewer { /* This is the viewing window */
	position: relative;
	overflow: hidden; 
	margin: auto;
	width: 760px; /* Also specified in  .stripViewer .panelContainer .panel  below */
	clear: both;
}

.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	height: 100%;
	position: relative;
	width: 760px; /* Also specified in  .stripViewer  above */
}

.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
	padding: 10px;
}

.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
	margin: auto;
	display: none;
}

.stripNav ul { /* The auto-generated set of links */
	list-style: none;
}

.stripNav ul li {
	float: left;
	margin-right: 2px; /* If you change this, be sure to adjust the initial value of navWidth in coda-slider.1.1.1.js */
}

.stripNav a { /* The nav links */
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	background: #c6e3ff;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 15px;
}

.stripNav li.tab1 a { background: #60f }
.stripNav li.tab2 a { background: #60c }
.stripNav li.tab3 a { background: #63f }
.stripNav li.tab4 a { background: #63c }
.stripNav li.tab5 a { background: #00e }

.stripNav li a:hover {
	background: #333;
}

.stripNav li a.current {
	background: #000;
	color: #fff;
}

.stripNavL, .stripNavR { /* The left and right arrows */
	position: absolute;
	top: 230px;
	text-indent: -9000em;
}

.stripNavL a, .stripNavR a {
	display: block;
	height: 40px;
	width: 40px;
}

.stripNavL {
	left: 0;
}

.stripNavR {
	right: 0;
}

.stripNavL {
	background: url("images/arrow-left.gif") no-repeat center;
}

.stripNavR {
	background: url("images/arrow-right.gif") no-repeat center;
}