<div class="panel" title="<%= build.name %>">
	<div class="wrapper">
	  <%= build.name %><br /><br />
    <% if build.pass? && build.name != "Plumbing" %>
    <div class='build_status pass'>
    PASS
    <input type='hidden' class='build_status' value="1" />
    </div>
    <% else %>
    <div class='build_status fail'>
    FAIL
    <input type='hidden' class='build_status' value="0" />
    </div>
    <% end %>
    <br />
    <%= build.date.to_formatted_s :long %>
	</div>
</div>